---
import Pilares from "./Pilares.astro"

---

<div class="text-blue-700 font-bold w-full">

    <img src="https://fiberpro.com.pe/wp-content/uploads/2025/01/PARA-WEB-VERANO-2025.png" alt="">

    <Pilares/>

</div>