---

---

<div class="p-2 w-full flex justify-center mb-10">

    <div class="p-2 flex justify-center w-2/3">

        <div class="grid grid-cols-3 grid-rows-2 w-full text-center">

            <div class="col-start-1 col-end-2 p-4 text-orange-500 border-b-2 border-black   hover:shadow-2xl hover:shadow-black hover:-translate-2.5">
                <div>
                    <img src="" alt="">
                </div>
                <h2 class="font-bold text-3xl">100% Fibra Óptica</h2>
                <p class="text-justify mt-4">Nos enorgullece ofrecer un servicio de internet de alta velocidad utilizando tecnología 100% fibra óptica. Esto garantiza una conexión más rápida, estable y confiable, brindando la mejor experiencia en navegación, streaming y trabajo en línea.</p>
            </div>

            <div class="col-start-2 col-end-3 p-4 text-orange-500 hover:-translate-y-2.5 hover:shadow-2xl hover:shadow-black">
                <div class="rounded-full w-1/3 block m-auto p-2 bg-white border-orange-500">
                    <img class="size-24 block m-auto" src="/src/assets/beneficios/descarga.svg" alt="">
                </div>
                <h2 class="font-bold text-3xl">Descargas y Carga Ilimitadas</h2>
                <p class="text-justify mt-4">Nuestros planes de internet permiten descargar y cargar datos sin límites y de manera simétrica. Podrás disfrutar de transmitir, trabajar y jugar sin preocuparte.</p>
            </div>


            <div class="col-start-3 col-end-4 p-4 text-orange-500 hover:translate-x-2.5 hover:shadow-2xl hover:shadow-black">
                <h2 class="font-bold text-3xl">Velocidad Garantizada</h2>
                <p class="text-justify mt-4">En FiberPRO te garantizamos mayor velocidad para actividades como compartir archivos, hacer videollamadas y respaldar datos en la nube.</p>
            </div>


            <div class="col-start-1 col-end-2 p-4 text-orange-500 hover:shadow-2xl hover:shadow-black">
                <h2 class="font-bold text-3xl">Mayor Estabilidad</h2>
                <p class="text-justify mt-4">Con FiberPRO contarás con mayor estabilidad gracias a nuestro internet 100% fibra óptica, lo que te permitirá el uso de aplicaciones en tiempo real.</p>
            </div>


            <div class="col-start-2 col-end-3 p-4 text-orange-500 hover:shadow-2xl hover:shadow-black">
                <h2 class="font-bold text-3xl">Velocidad Simétrica</h2>
                <p class="text-justify mt-4">La velocidad simétrica que ofrecemos permite que tu conexión de internet envíe (subida) y descargue (bajada) información simultáneamente desde cualquier dispositivo que utilices.</p>
            </div>

            <div class="col-start-3 col-end-5 p-4 text-orange-500 hover:shadow-2xl hover:shadow-black">
                <h2 class="font-bold text-3xl">Conectividad en Simultáneo</h2>
                <p class="text-justify mt-4">Al brindarte 100% fibra óptica, podrás conectar diferentes dispositivos de forma simultánea. Recuerda que te ofrecemos el 70% de la velocidad mínima garantizada, siempre y cuando tu dispositivo esté conectado mediante cable de red.</p>
            </div>

        
        </div>
    

    </div>


</div>

