---

---

<div class="p-2">

    <div class="font-bold text-5xl p-2 text-center mb-10">
        <h1 class="text-blue-700">Beneficios de ser Fiber<span class="text-orange-600">PRO</span></h1>
    </div>

    <div class="p-2 w-full flex justify-center mb-10">

        <div class="p-2 flex justify-center w-2/3">
    
            <div class="grid grid-cols-3 grid-rows-2 gap-2 w-full text-center">
    
                <div class="col-start-1 col-end-2 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img class="" src="/beneficios/fibra.svg" alt="">
                    </div>
    
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">100% Fibra Óptica</h2>
                        <p class="text-justify mt-4 p-4">Nos enorgullece ofrecer un servicio de internet de alta velocidad utilizando tecnología 100% fibra óptica. Esto garantiza una conexión más rápida, estable y confiable, brindando la mejor experiencia en navegación, streaming y trabajo en línea.</p>
                    </div>
                </div>
    
                <div class="col-start-2 col-end-3 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img class="" src="/beneficios/cargaDescarga.svg" alt="">
                    </div>
    
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">Descargas y Carga Ilimitadas</h2>
                        <p class="text-justify mt-4 p-4">Nuestros planes de internet permiten descargar y cargar datos sin límites y de manera simétrica. Podrás disfrutar de transmitir, trabajar y jugar sin preocuparte.</p>
                    </div>
                </div>
    
    
                <div class="col-start-3 col-end-4 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img src="/beneficios/velocidad.svg" alt="">
                    </div>
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">Velocidad Garantizada</h2>
                        <p class="text-justify mt-4 p-4">En FiberPRO te garantizamos mayor velocidad para actividades como compartir archivos, hacer videollamadas y respaldar datos en la nube.</p>
                    </div>
                </div>
    
    
                <div class="col-start-1 col-end-2 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img src="/beneficios/estabilidad.svg" alt="">
                    </div>
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">Mayor Estabilidad</h2>
                        <p class="text-justify mt-4 p-4">Con FiberPRO contarás con mayor estabilidad gracias a nuestro internet 100% fibra óptica, lo que te permitirá el uso de aplicaciones en tiempo real.</p>
                    </div>
                </div>
    
    
                <div class="col-start-2 col-end-3 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img src="/beneficios/simetrica.svg" alt="">
                    </div>
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">Velocidad Simétrica</h2>
                        <p class="text-justify mt-4 p-4">La velocidad simétrica que ofrecemos permite que tu conexión de internet envíe (subida) y descargue (bajada) información simultáneamente desde cualquier dispositivo que utilices.</p>
                    </div>
                </div>
    
                <div class="col-start-3 col-end-5 p-4 text-blue-700 shadow-xl/20 shadow-black rounded-2xl">
                    <div class="p-6 rounded-full size-48 block m-auto border-2 bg-white">
                        <img src="/beneficios/conectividad.svg" alt="">
                    </div>
                    <div class="mt-6">
                        <h2 class="font-bold text-3xl">Conectividad en Simultáneo</h2>
                        <p class="text-justify mt-4 p-4">Al brindarte 100% fibra óptica, podrás conectar diferentes dispositivos de forma simultánea. Recuerda que te ofrecemos el 70% de la velocidad mínima garantizada, siempre y cuando tu dispositivo esté conectado mediante cable de red.</p>
                    </div>
                </div>
    
            
            </div>
        
        </div>
    
    </div>

</div>

