---

---

<div class="w-full p-4">

    <h2 class="text-center font-bold text-4xl p-3 text-orange-500">¿Ya eres cliente PRO?</h2>


    <div class="flex justify-center p-2">

        <div class="grid grid-cols-2 gap-1 bg-blue-700 p-1 w-2/3 text-black">
            <div class="col-span-2 bg-white p-4 text-base/10 rounded-4xl">
                <h3 class="font-bold underline text-3xl">Atención al cliente</h3>
                <p class="">¿Necesitas ayuda? Haz clic aquí y conversa con nosotros por WhatsApp.</p>
            </div>
    
            <div class="bg-white text-base/7 p-2 rounded-4xl">
                <h3 class="font-bold underline text-3xl">Mejora tu plan</h3>
                <p>Mejora tu experiencia con nosotros, haz clic aquí y descubre todos nuestros planes.</p>
                <a class="p-2 w-1/3 rounded-4xl bg-orange-400" href="" target="_blank" rel="noopener noreferrer">Ver más</a>
            </div>
    
            <div class="bg-white p-4 rounded-4xl">
                <h3>Paga tu boleta</h3>
                <p>Haz clic aquí y paga tus boletas a tiempo.</p>
                <a class="p-2 w-1/3 rounded-4xl bg-orange-400" href="" target="_blank" rel="noopener noreferrer">Ver más</a>
            </div>
    
        </div>

    </div>



 

</div>