---

---

<div class="w-full p-3 relative">

    <div class="w-full flex justify-center">

        <img class="cursor-pointer md:w-3/5 w-full" src="/cobertura/cobertura.png" alt="">

    </div>

    <a class="bg-orange-500 md:p-2.5 p-1 relative rounded-3xl text-white font-bold md:text-2xl text-xs md:left-120 left-6 md:-top-30 -top-10  shadow-2xl shadow-black" href="">Ver nuestra cobertura!</a>

</div>

