---

---

<div class="w-full flex justify-center p-3">

    <div class="bg-blue-700 flex justify-between p-4 rounded-2xl text-white w-3/5">

        <div class="p-2">

            <div>
                <h1 class="font-bold text-4xl">Consulta nuestra cobertura :</h1>
            </div>
            
            <div class="text-base/12">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, quasi.</p>
            </div>

            <div class="text-base/12">
                <a class="bg-orange-400 p-4 rounded-2xl cursor-pointer shadow-2xl shadow-black hover:bg-amber-700" href="">Conoce nuestras coberturas!</a>
            </div>
        </div>

        <div class="relative size-30">
            <img class="" src="" alt="">
        </div>

    </div>

</div>