---

---

<div class="w-full p-3 relative">

    <div class="w-full flex justify-center">

        <a href="" class="flex justify-center lg:w-1/2 w-full lg:h-80 h-40">
            <img class="cursor-pointer w-full" src="/cobertura/cobertura.png" alt="">
        </a>

    </div>

</div>

