---

---

<div class="w-full p-3 relative">

    <div class="w-full flex justify-center">

        <img class="cursor-pointer w-3/5" src="/src/assets/cobertura/cobertura.png" alt="">

    </div>

    <a class="bg-orange-500 p-2.5 relative rounded-3xl text-white font-bold text-2xl left-120 -top-25 shadow-2xl shadow-black" href="">Ver nuestra cobertura!</a>

</div>

