---

---

<div class="w-full flex justify-center p-3">

    <div class="w-full flex justify-center">

        <img class="cursor-pointer w-3/5" src="/src/assets/cobertura/cobertura.png" alt="">

    </div>

</div>