---

const pilaresFP=[
    {id:1,nombre:"VELOCIDAD SIMÉTRICA",img:"https://fiberpro.com.pe/wp-content/uploads/2024/04/speed.png"},
    {id:1,nombre:"ALCANCE 2.4 GHZ Y 5 GHZ",img:"https://fiberpro.com.pe/wp-content/uploads/2024/04/alcance.png"},
    {id:1,nombre:"100% FIBRA ÓPTICA",img:"https://fiberpro.com.pe/wp-content/uploads/2024/04/fibra.png"},
    {id:1,nombre:"CONEXIÓN MULTIDISPOSITIVO",img:"https://fiberpro.com.pe/wp-content/uploads/2024/04/conexion.png"},
]

---

<div class="flex justify-center p-2">

    <div class="p-2 w-3/5 flex justify-between">

        <div class="grid grid-cols-3 grid-rows-2 gap-4 w-4/5 justify-center p-2">

            <div class="col-start-1 col-end-2 p-2 rounded-lg flex flex-col gap-6 justify-center bg-white border-solid border-2">
                <img src="https://fiberpro.com.pe/wp-content/uploads/2024/04/speed.png" class="size-36 block m-auto w-2/3" alt="">
                <h2 class="text-center text-blue-800">VELOCIDAD SIMÉTRICA</h2>
            </div>

            <div class="col-start-2 col-end-3 p-2 rounded-lg flex flex-col gap-4 justify-center bg-white border-solid border-2">
                <img src="https://fiberpro.com.pe/wp-content/uploads/2024/04/alcance.png" class="size-36 block m-auto w-2/3" alt="">
                <h2 class="text-center text-blue-800">VELOCIDAD SIMÉTRICA</h2>
            </div>

            <div class="col-start-2 col-end-3 p-2 rounded-lg flex flex-col gap-4 justify-center bg-white border-solid border-2">
                <img src="https://fiberpro.com.pe/wp-content/uploads/2024/04/fibra.png" class="size-36 block m-auto w-2/3" alt="">
                <h2 class="text-center text-blue-800">VELOCIDAD SIMÉTRICA</h2>
            </div>

            <div class="col-start-3 col-end-4 p-2 rounded-lg flex flex-col gap-4 justify-center bg-white border-solid border-2">
                <img src="https://fiberpro.com.pe/wp-content/uploads/2024/04/conexion.png" class="size-36 block m-auto w-2/3" alt="">
                <h2 class="text-center text-blue-800">VELOCIDAD SIMÉTRICA</h2>
            </div>

        </div>

        <div class="flex justify-center items-center text-4xl">
            <div class="font-bold text-orange-600 text-center">
                <h2>+ 3</h2>
                <h2>años</h2>
                <h4>Conectando al pais...</h4>
            </div>
        </div>


    </div>

        

</div>